/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix{
	clear: both;
	float: none;
}

/*
 *  BLUE - #1B3AAB
 */

body{    
	font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.6;
    color: #333;
}


.container{
	width: 980px;
	margin: 50px auto;
}

.logo img{
	width: 350px;
	display: block;
	margin: 0 auto;
}

.bg-gray{
	background: #eee;
	border: 2px solid #ddd;
	padding: 30px 30px 40px;
	margin: 30px;
}

/*
 *  Rooms
 */
.rooms label{
	font-size: 24px;
	display: block;
	font-weight: bold;
	margin-bottom: 30px;
}

.rooms select {
    padding: 12px 15px;
    font-size: 18px;
    width: 60%;
}

.rooms button{
	padding: 12px 15px;
	font-size: 18px;
	background: #3359DF;
	color: white;
	border: 1px solid #1F42C1;
}


/*
 *  Result
 *  
 */

.rooms-result{
	padding: 30px 30px 0;
}

.rooms-result h3{
	font-size: 28px;
}

.rooms-result p{
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
}

table, table tr, table th, table td{
	border-collapse: collapse;
	border: 1px solid #ccc;
	padding: 5px;
}

table {
	margin-top: 5px;
	width: 100%;
	padding: 30px 30px 40px;
	margin: 30px;
	font-size: 13px;
}

.result{
	display:none;
}

.result.show{
	display: block;
}

.search-result th{
	padding: 15px;
	color: white;
	background: #1B3AAB;
	font-weight: bold;
	font-size: 13px;
}

.search-result tr:nth-child(odd){
	background: #ddd;
}
.search-result tr:nth-child(even){
	background: #eee;
}

.search-result tr td{
	padding: 15px 15px 30px;
}

.search-result .available, .search-result .not-available{
	display: inline-block;
	padding: 5px 10px;
	color: white;
	font-size: 12px;
	background: #007A00;
}

.search-result .not-available{
	background: #990000;
}